*{box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

div{color: #2d3c49;
}
hr{border:3px solid #7d97ad;
	height: 0px;
  background-color: #7d97ad;
}
header{display: inline;}

img{
	width: 100%;
}
.logo{width: 75%;}

.name{float: right;}

.web{padding: 25px;
	background-size: cover;
}

.detail{font-size: 20px;
text-align: justify;
align-self: auto;}

.certi{padding-top: 10px;
	padding-bottom: 10px;
}

.col-md-4{
	border-top:2px solid #c8c8c8;
	padding-top: 10px; 
}

.icon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px; 
  margin-left: 10px;
  margin-right: 10px;}

.icon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); 
  margin-left: 10px;
  margin-right: 10px;
}

.facebook {
  background: url("social-1_logo-facebook.svg"); 
}
.github {
  background: url("social-1_logo-github.svg"); 
}
.google {
  background: url("social-1_logo-google-plus.svg"); 
}
.insta {
  background: url("social-1_logo-instagram.svg"); 
}
.gmail {
  background: url("gmail.png"); 
  opacity: 0.8;
}

@media only screen and (max-width:767px){
  .name h1{font-size: 40px;}
  .name h3{font-size: 30px;}
}

@media only screen and (max-width:594px){
  .logo{padding-top: 10px;}
  .name h1{font-size: 30px;}
  .name h3{font-size: 25px;}
}

@media only screen and (max-width:455px){
  .logo{padding-top: 15px;}
  .name h1{font-size: 25px;}
  .name h3{font-size: 20px;}
}

@media only screen and (max-width:390px){
  .logo{padding-top: 15px;}
  .name h1{font-size: 20px;}
  .name h3{font-size: 15px;}
}


